.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.background::before {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

aside {
  overflow: hidden;
}

main {
  margin-top: auto;
  overflow: hidden;
}
