<div
  *ngrxLet="{
    timeDataState: timeDataState$,
    timeDataTimeOfDay: timeDataTimeOfDay$,
    width: width$
  } as observables"
  [ngClass]="observables.width"
>
  <div
    class="container"
    [ngClass]="{
      day:
        observables.timeDataTimeOfDay === 'morning' ||
        observables.timeDataTimeOfDay === 'afternoon',
      night: observables.timeDataTimeOfDay === 'evening'
    }"
  >
    <ul>
      <li
        *ngFor="let feature of features; let i = index"
        [ngStyle]="{ order: order(i, observables.width) }"
      >
        <span class="name">{{ feature.name }}</span>
        <span class="value">{{ observables.timeDataState[feature.key] }}</span>
      </li>
      <li *ngIf="observables.width === 'desktop'" class="divider"></li>
    </ul>
  </div>
</div>
