.mobile {
  font-size: 0.94rem;
}

.mobile .greeting {
  align-items: flex-start;
}

.mobile .greeting-phrase {
  letter-spacing: 3px;
  line-height: 166.67%;
}

.mobile .time {
  gap: 5px;
}

.mobile .current-time {
  font-size: 6.25rem;
  letter-spacing: -2.5px;
}

.mobile .abbreviation {
  line-height: 186.67%;
  margin-top: 4.19rem;
}

.mobile .location {
  line-height: 186.67%;
  letter-spacing: 3px;
}
