:host {
  display: block;
}

.container {
  backdrop-filter: blur(20.39px);
}

ul {
  list-style-type: none;
}

li {
  display: flex;
}

.name {
  text-transform: uppercase;
}

.value {
  font-weight: 700;
}
