.mobile .container {
  padding: 3rem 1.62rem;
}

.mobile ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile li {
  justify-content: space-between;
}

.mobile .name {
  font-size: 0.62rem;
  letter-spacing: 2px;
  line-height: 280%;
}

.mobile .value {
  font-size: 1.25rem;
}
