<div
  *ngrxLet="{
    expanded: expanded$,
    timeOfDay: timeOfDay$,
    width: width$
  } as observables"
  class="container"
  [ngClass]="observables.width"
>
  <div
    class="background"
    [ngStyle]="{
      backgroundImage: bgImage(observables.timeOfDay, observables.width)
    }"
  ></div>
  <aside *ngIf="!observables.expanded" [@joke]>
    <app-joke></app-joke>
  </aside>
  <main>
    <app-main></app-main>
    <app-expanded *ngIf="observables.expanded" [@expanded]></app-expanded>
  </main>
</div>
