/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #000;
  --color-2: #303030;
  --color-3: #fff;
}

body {
  font-family: "Inter", sans-serif;
}
